<div class="portrait">
	<div class="container-card">
		<div class="card">
			<img class="card-img" id="card-img0" src="{{card.urlPortrait}}">

			<div class="bloc-content-show">
				<h2 class="text-light">{{card.prenom}}</h2>
				<h2 class="text-light">{{card.nom}}</h2>
				<p class="text-light text-right">{{card.title}}</p>
			</div>
		</div>
		<pre class="card--text" *ngIf="card.presentationText != 'undefined'">{{card.presentationText}}</pre>
		<div class="bloc-focus-top"></div>
		<div class="bloc-focus-bottom"></div>
	</div>

	<button *ngIf="button == true" class="btn btn-danger my-3" id="{{card._id}}" (click)="onBtnDelete($event)">Supprimer</button>
</div>

