<section class="school section" id="school">

	<h2>Ecole de skateboard saison 2022-2023</h2>
	<div class="underline-title"></div>

	<div class="school__content">
		<div class="school__content--img--container">
			<img class="school__content--img" src="/assets/ecole/220630_kids_club_face2.jpg" alt="kids_club_face">
			<img class="school__content--img" src="/assets/ecole/220630_kids_club_tshirt_dos(2).jpg"
				alt="kids_club_tshirt_dos">
		</div>
		<div class="school__content--text">
			<p>Cours le mercredi de <span class="school__content--bold"> 17h30 à 19h</span> au skatepark de Mende</p>
			<ul class="school__content--ul">
				<li class="school__content--li">Cycle automne 2022 : de septembre à fin octobre</li>
				<li class="school__content--li">Cycle printemps 2023 : d'avril à fin juin</li>
			</ul>

			<p>Stages INDOOR d'une semaine pendant les vacances de Toussaint et de février, du lundi au vendredi,
				17h30-18h30,
				espace Evénement Georges Frêche à Mende.</p>

			<p><span class="school__content--bold">Prix :</span><br> 80 € / an + licence FFRS (20,56 € pour les moins de 12
				ans ; 39,61 € pour
				les plus de 12
				ans)<br>
				T-shirt du club inclus dans l'inscription</p>

			<span>Possibilité de prêt de matériel (planches, casques)</span><br><br>
			<span>Nombre de places <span class="school__content--bold">limité</span>, inscrivez-vous vite !</span>

		</div>


	</div>
</section>