@import "../../../../variables.scss";

/*CARD ACTION*/
.card {
	box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.55);

	&-img-top {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
	background-color: #00000040;
	width: 35px;
}


/* LOADER SPINNER*/

.loader-container {
	height: 4em;
}

.loader,
.loader::before,
.loader::after {
	background: #000000;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}

.loader {
	color: #000000;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader::before,
.loader::after {
	position: absolute;
	top: 0;
	content: "";
}

.loader::before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader::after {
	left: 1.5em;
}

@-webkit-keyframes load1 {

	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

@keyframes load1 {

	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}

	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.disable-loader-spinner {
	display: none;
}


.video-container {
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;

	&--title {
		display: flex;
		flex-direction: column;

		>span {
			margin-bottom: 5px;
		}
	}
}