<section class="evenement section" id="action">
	<h2>Actions</h2>
	<div class="underline-title"></div>
	<div class="video-container">
		<div class="video-container--title">
			<span>Team Brotherhood, Lyon, Septembre 2022</span>
			<iframe width="336" height="190" src="https://www.youtube.com/embed/Sk7sIVbsMmA?si=qkZ_gdedCx4mbtTO"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>
	</div>
	<!-- Loader Spinner -->
	<div class="loader-container" #loaderActions>
		<div class="loader">Loading...</div>
	</div>
	<div class="container my-4">

		<!--Carousel Wrapper-->
		<div id="multi-item-example" class="carousel slide carousel-multi-item" data-interval="false">

			<!--Slides-->
			<div class="carousel-inner" role="listbox" id="carousel-inner">

				<!-- bloc = 3 actions, c'est pour la création du caroussel 3 actions par 3 actions -->
				<div class="carousel-item" *ngFor="let bloc of blocActions; let index = index" [ngClass]="isActive(index)">
					<div class="row">
						<!-- Les cards du caroussel -->
						<div class="col-md-4" *ngFor="let action of bloc">
							<app-card-action [action]="action"></app-card-action>
						</div>
					</div>
				</div>

				<a class="carousel-control-prev" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div>
			<!--/.Slides-->

		</div>
		<!--/.Carousel Wrapper-->
	</div>


</section>